services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: slopshop
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1488
    ports:
      - "5600:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
  app:
    depends_on:
      db:
        condition: service_healthy
    build: .
    ports:
      - "8000:8000"
volumes:
  db_data:
